{% extends '@CTSKapsBundle/layout.html.twig' %}
{% block title %} Contribuer à Kapsul {% endblock %}
 {% block body %}

    
         <main role="main" class="container">
             <div class="well-lg">
                 <h1>Formulaire de contribution</h1>
             </div>
         </main>
    
 {% endblock %}
