{% extends '@CTSKapsBundle/layout.html.twig' %}
 {% block content %}

     {% block main %}
         <main role="main" class="container">
             <div class="well-lg">
                 <h1>Noms de la revue</h1>
                 <p class="lead">Qui sommes nous ?</p>
             </div>
         </main>
     {% endblock %}
     {% block articles %}
         <main role="articles" class="container">
             <div class="well-lg">
                 <h1>contactez nous</h1>
             </div>
         </main>
     {% endblock %}
 {% endblock %}
