{% extends '@CTSKapsBundle/layout.html.twig' %}
{% block title %} Contribuer à Kapsul {% endblock %}
 {% block body %}
<div class="container mt-4">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12">
                <h3>Partagez vos découvertes<div></div></h3>
            </div>
        </div>
        <div class="row">
            <div class="container">

                <div class="contribute">


                    <div class="row">

                        <p>
                        </p>
                    </div>
                    <div class="row">
                        <p>

                        </p>
                    </div>
                    <div class="row">
                        <p>

                        </p>
                    </div>
                    <div class="row">
                        <p>

                        </p>

                    </div>
                    <div class="row">
                        <p>

                        </p>
                    </div>
                    <div class="row">
                        <p>

                        </p>
                    </div>


                </div>
            </div>

        </div>
    </div>

</div>
 {% endblock %}


