{% extends '@CTSKapsBundle/layout.html.twig' %}
{% block title %} Contacter Kapsul {% endblock %}
 {% block body %}

    
         <main role="main" class="container">
             <div class="well-lg">
                 <h1>Noms de la revue</h1>
                 <p class="lead">Qui sommes nous ?</p>
             </div>
         </main>
     
     
         <main role="articles" class="container">
             <div class="well-lg">
                 <h1>contactez nous</h1>
             </div>
         </main>
     
 {% endblock %}
