{% extends '@CTSKapsBundle/layout.html.twig' %}
 {% block content %}
     {% block one %}
         <div class="row">
             <div class="col-lg-4">
                 <img class="img" src="#" alt="#" width="140" height="140">
                 <h2>Nom de la revue</h2>
                 <p>Usbek & Rica est un magazine trimestriel français de journalisme de récit, fondé en 2010 par Jérôme Ruskin.
                     Il s'est donné comme slogan « Le magazine qui explore le futur » et s'inscrit dans le champ de la prospective..</p>
                 <p><a class="btn btn-default" href="#" role="button">En détails</a></p>
             </div><!-- /.col-lg-4 -->
             <div class="col-lg-4">
                 <img class="img" src="#" alt="#" width="140" height="140">
                 <h2>Nom de la revue</h2>
                 <p>Usbek & Rica est un magazine trimestriel français de journalisme de récit, fondé en 2010 par Jérôme Ruskin.
                     Il s'est donné comme slogan « Le magazine qui explore le futur » et s'inscrit dans le champ de la prospective..</p>
                 <p><a class="btn btn-default" href="#" role="button">En détails</a></p>
             </div><!-- /.col-lg-4 -->
             <div class="col-lg-4">
                 <img class="img" src="#" alt="#" width="140" height="140">
                 <h2>Nom de la revue</h2>
                 <p>Usbek & Rica est un magazine trimestriel français de journalisme de récit, fondé en 2010 par Jérôme Ruskin.
                     Il s'est donné comme slogan « Le magazine qui explore le futur » et s'inscrit dans le champ de la prospective..</p>
                 <p><a class="btn btn-default" href="#" role="button">En détails</a></p>
             </div><!-- /.col-lg-4 -->
         </div><!-- /.row -->
     {% endblock %}
     {% block two %}
             <div class="cloud">
                 <h2>les tendances du moment</h2>
                 <h3> Descriptifs </h3>
                 <p> Les tags apparaissent dans l'ordre alphabetique. Le taille varie selon la fréquence avec laquelle ils apparaissent
                 dans les articles des differentes revue</p>
                 <p> tag 1 = + => les mots cité de une à 10 fois</p>
                 <p> tag 2 = ++ => les mots cité de 10 à 20 fois</p>
                 <p> tag 3 = +++</p>
                 <p> tag 4 = ++++</p>
                 <p> tag 5 = +++++</p>
                 <h3> Fonctionnement</h3>
                 <p> Les mots sont des liens qui renvoient chacun à une page listant toutes les revues ou le terme est evoqué</p>
                 <p> Probleme de l'indexation des mots clés par revue et par article, comment les entrer en base</p>
                 <p> service d'indexation de mots clés ?? cf FOSElasticaBundle : https://github.com/FriendsOfSymfony/FOSElasticaBundle</p>
             </div>

     {% endblock %}
 {% endblock %}