{% extends '@CTSKapsBundle/layout.html.twig' %}
 {% block content %}
        <div class="row">
            <h2>Outils de tri des revues</h2>
            <ul> Faire un form (ChoiceType) qui permettent de classer les revues
                <li> par nom/inverse</li>
                <li> par date d'entrée en base</li>
                <li>par périodicité</li>
            </ul>
            <p> Ajout egalement avec proposition des objets Review avec la methode getName cf
                : <a class="ref" href="https://symfony.com/doc/current/reference/forms/types/choice.htm">Docs</a></p>

        </div><!-- /.row -->
     <div class="container ">
         <h2> Ressources en base</h2>

         <div class="row flex">
             {% for media in medias %}
                 <div class="col-lg-4">
                     <img class="img" src="#" alt="#" width="140" height="140">
                     <h2 ><a href="{{ path('Front_oneMedia', {'id':media.id})}}">{{ media.name }}</a></h2>
                     <p class="card-text"> {{ media.presentation }}</p>
                 </div>
             {% endfor %}
         </div>
     </div>




{% endblock %}
