{% extends '@CTSKapsBundle/layout.html.twig' %}
{% block title "S'enregister" %}

{% block body %}
    <div class="container mt-4">
        {% include '@CTSKapsBundle/back/_FormUser.html.twig' %}
    </div>
{% endblock %}
