{% extends '@CTSKapsBundle/layout.html.twig' %}
{% block title %} Chercher sur Kapsul {% endblock %}
 {% block body %}
     <div id="content">
         <form action="{{ path('Front_search') }}" method="post">
             {# The form #}
             <div class="form-group">
                 <label for="search">Rechercher sur le site:</label>
                 <input type="text" name="search" id="search" />
             </div>
             {# Gif #}
             <div class="loader"></div>
         </form>
         {# Displays research results #}
         <div id="result"></div>
     </div>
    
 {% endblock %}

