{% extends '@CTSKapsBundle/layout.html.twig' %}
{% block title %} Chercher sur Kapsul {% endblock %}
 {% block body %}
     <div id="content">
         <form action="search.php" method="post">
             {# The form #}
             <label for="search">Rechercher sur le site:</label>
             <input type="text" name="search" id="search" />
             {# Gif #}
             <div class="loader"></div>

         </form>
         {# Displays research results #}
         <div id="result"></div>
     </div>
    
 {% endblock %}

