{% extends '@CTSKapsBundle/layout.html.twig' %}
 {% block content %}
     {% block motor %}
         <div class="row">
             <h2>Moteur de recheche</h2>
             <p> Probleme de l'indexation</p>
             <p> Création d'une table spécifique</p>
         </div><!-- /.row -->
     {% endblock %}
     {% block result %}
         <div class="well-lg">
             <h2>Tableau des resultats</h2>
         </div>
     {% endblock %}
 {% endblock %}
