{% block footer %}
<footer class="footer">
    <div class="col-md-12">
        <div class="row" id="element">
            <div class="col-lg-3 col-lg-push-1">

                <a href="https://mdbootstrap.com/education/bootstrap/"> Chrisco31- 2019</a>
                <p> christel.coeur@crackthesky.fr</p>

            </div>
            <div class="col-lg-6 col-lg-push-2">
                <a href="https://facebook.com"><img class="imgSocial" src="{{ asset('img/facebook.png') }}" width="40" alt="facebook"></a>
                <a href="https://linkedin.com"><img class="imgSocial" src="{{ asset('img/linkedin.png') }}" width="40" alt="linkedin"></a>
                <a href="https://twitter.com"><img class="imgSocial" src="{{ asset('img/twitter.png') }}" width="40" alt="twitter"></a>
            </div>
            <div class="col-lg-3">
                <a href="https://mdbootstrap.com/education/bootstrap/"> Mentions legales</a>
            </div>
        </div>
    </div>


</footer>
{% endblock %}


