{% block footer %}
    <div class="container">
        <div id="footer">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">icones de reseaux sociaux</h4>
                    <h4 class="card-title">lien pour les mentions legales</h4>
                    <h4 class="card-title">Lien pour formulaire de contact</h4>
                    <h4 class="card-title">Lien about</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}