{% block jumbotron %}
        <div class="jumbotron" id="accueil">
            <div id="prez2"><h2 class="text-center">KAPSUL : </h2></div>
            <div id="prez3"><h2 class="text-center">MAGS, REVUES et BLOGS</h2></div>
        </div>
{% endblock %}