{% block jumbotron %}
        <div class="jumbotron row" id="accueil">
            <div id="prez2"><h2 class="text-center">KAPSUL : </h2></div>
            <div id="prez3"><h2 class="text-center">L'HYPERMONDE DES REVUES</h2></div>
        </div>
{% endblock %}