{% block jumbotron %}
        <div class="jumbotron row" id="accueil">
            <h2 class="text-center"> KAPSUL</h2>
            <h3 class="text-center">Univers multiples</h3>
            <h3 class="text-center">des revues</h3>
        </div>
{% endblock %}