{% block jumbotron %}
    <div class="jumbotron row" id="accueil">
        <h3 class="text-center">Bonjour, nous sommes</h3>
        <h2 class="text-center"> KAPSUL</h2>
        <h3 class="text-center">Que pour la page d'accueil</h3>
    </div>
{% endblock %}