<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Kapsul{% endblock %}</title>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/kapsul.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Palanquin:100|Source+Sans+Pro:300" rel="stylesheet">
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% block stylesheet %}{% endblock %}
</head>
<body>
    <div class="container">
        <div id="navbar">
            {% include '@CTSKapsBundle/_navbar.html.twig' %}
        </div>
        <div id="jumbotron">
            {% include '@CTSKapsBundle/_jumbotron.html.twig' %}          
        </div>
        <div id="content">
            {% block body %}
            {% endblock %}
        </div>
        <div id="footer">
            {% include '@CTSKapsBundle/_footer.html.twig' %}
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.7.0/d3.min.js"></script>

{% block javascripts %}
{% endblock %}
</body>
</html>