{% extends '@CTSKapsBundle/layout.html.twig' %}
 {% block title %} S'enregistrer sur Kapsul {% endblock %}
 {% block body %}
         <main role="main" class="container">

             <div class="starter-template">
                 <h1>Formulaire de connexion</h1>
                 <p class="lead">FORM</p>
             </div>

         </main>
 {% endblock %}