{% extends '@CTSKapsBundle/layout.html.twig' %}
 {% block title %} Modifier ou supprimer une revue {% endblock %}
 {% block body %}
     <div class="container mt-4">
         <h2>Editer la revue</h2>
         {% include '@CTSKapsBundle/back/_FormMedia.html.twig' %}
     </div>
 {% endblock %}