{% extends '@CTSKapsBundle/layout.html.twig' %}
 {% block title %} Modifier ou supprimer une revue {% endblock %}
 {% block body %}
     <div class="container mt-4">
         <h2>Editer la revue</h2>
         {% include '@CTSKapsBundle/back/_FormMedia.html.twig' %}
     </div>
     <div class="row">
         <div class="col-lg-offset-7 col-lg-5">
             <a class="btn btn-primary btn-lg" href="{{path('Back_delete',{'id': media.id})}}">supprimer</a>
         </div>
     </div>
 {% endblock %}
