{% extends '@CTSKapsBundle/layout.html.twig' %}
{% block title 'Mon Espace' %}

{% block body %}
    <div class="container mt-4">
       {{ "Bienvenue sur votre espace membre" }}
    </div>
{% endblock %}