{% extends '@CTSKapsBundle/layout.html.twig' %}
{% block title %} Mon espace Kapsul {% endblock %}
 {% block body %}
         <main role="Profil" class="container">
             <div class="well-lg">
                 <h1>Dernieres MAJ</h1>
                 <p class="lead">Affichage des dernieres entrées en base</p>
             </div>
         </main>
    
    
         <main role="cloud" class="container">
             <div class="well-lg">
                 <h1>les 10 derniers articles en favoris</h1>
             </div>
         </main>
    
     
        <main role="cloud" class="container">
            <div class="well-lg">
                <h1>les alertes</h1>
            </div>
        </main>   
 {% endblock %}