{% extends '@CTSKapsBundle/layout.html.twig' %}

 {% block content %}

     {% block main %}
         <main role="main" class="container">

             <div class="starter-template">
                 <h1>Formulaire d'inscription</h1>
                 <p class="lead">FORM</p>
             </div>

         </main>
     {% endblock %}
 {% endblock %}