{% extends '@CTSKapsBundle/layout.html.twig' %}
{% block title %} Devenir membre de Kapsul {% endblock %}
 {% block body %}

     
         <main role="main" class="container">

             <div class="starter-template">
                 <h1>Formulaire d'inscription</h1>
                 <p class="lead">FORM</p>
             </div>

         </main>

 {% endblock %}