{% extends '@CTSKapsBundle/layout.html.twig' %}

 {% block body %}
        <div class="container mt-4">
                {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                        {{ message }}
                </div>
                {% endfor %}       
        </div>
 {% endblock %}