{% extends '@CTSKapsBundle/layout.html.twig' %}
 {% block title %} Les selecteurs de Scrap {% endblock %}
 {% block body %}
    <div class="container mt-4">
            {% include '@CTSKapsBundle/back/_FormSelector.html.twig' %}
    </div>
 {% endblock %}